@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Do+Hyeon&display=swap'); /* imported from Google fonts */


* {
    margin: 0;
    padding: 0;
    border: none;
    background-color: rgb(87, 84, 84);
}

.active {
    border-bottom: 1px solid white;  /* states or highlights where the user is in the browser */
}

/* logo styling */
#logo {
    float: left;
    font-size: 350%;
    margin-left: 45px;
    color: white;
    /*height: 100px;*/
}

h1 {
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    letter-spacing: 3px;   
}

/* navigation links */
#menu {
    font-family: 'Do Hyeon', sans-serif;
    font-size: 100%;
    letter-spacing: 3px;
    color: rgb(233, 233, 212);
}


#menu, #logo {
    line-height: 90px;
}

#menu li {
    float: right;
    list-style-type: none;      /* eliminates any style to the font  */
    margin-right: 45px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 2px solid white;
}



/* gang image */

#gang-outer {
    height: 657px;
    width: 100%;
    overflow: hidden;       /* ensures the image and its styling kept for itself only */
    padding: 0;
}

#gang-image {
    height: 657px;
    width: 100%;
    background: url('../images/gang-smSize.jpg') no-repeat center;
    background-size: 950px;

    position: relative;
}

/* cover text style */

#cover-text, #cover-text h2, #cover-text h3 {       /* change original background/styles */
    color: gold;
    background: none;        
}

#cover-text h2 {
    text-decoration: underline;
}

#cover-text {
    font-family: 'Bebas Neue', cursive;
    color: gold;
    font-size: 200%;

    text-align: center;

    letter-spacing: 5px;
    width: 412px;
    height: 161px;

    padding: 0;
    margin: 0;
    
    bottom: 350px;
    right: 365px;
    
    position: absolute;
    /*z-index: auto;*/
        
    animation: cover-zoom;      /* naming the animation */
    animation-duration: 3s;
    animation-fill-mode: forwards;


}

@keyframes cover-zoom {      /* creates the level of zoom for cover text by 1.3x */
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.3);
    }
}


/* styling message */

.message {
    font-family: 'Do Hyeon', sans-serif;
    font-size: x-large;
    color: white;

    text-align: center;
    padding: 0 200px;
    height: 120px;
}

/* styling legs */
.leg-box {
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: bisque;

    height: 150px;
    width: 250px;

    padding: 20px;
    border: solid 3px bisque;
    display: inline-block;

    position: relative;
}